{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
        {% else %}
                <img src="https://spirk.ru/files/53c/53c3765a1e324e53aed3ca6108f83c12.gif" width="150" height="150" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>
     <h1>Друзья пользователя</h1>
                     {% for friend in friends %}
    <div class="box">
    <h1>Личная страница пользователя {{ friend.get_full_name|default:friend.user.username }}</h1>
    {% if friend.avatar %}
        <img class="av" src="{{ friend.avatar.url }}" width="150" height="150" alt="user picture">
        {% else %}
        <img class="av" src="https://spirk.ru/files/53c/53c3765a1e324e53aed3ca6108f83c12.gif" width="150" height="150" alt="user picture">
    {% endif %}
    <p>Имя пользователя: <a class="badge badge-secondary"  href="{% url 'accounts:detail' friend.pk %}">{{ friend.user.username  }}</a></p>
    <p>Имя: {{ friend.first_name }}</p>
    <p>Фамилия: {{ friend.last_name }}</p>

        {% if request.user.is_authenticated %}
        <a class="badge badge-secondary" href="{% url 'webapp:delete_friends' friend.pk%}"><button type="button" class="btn badge badge-dark">
            Удалить в друга</button></a>
             <a class="badge badge-secondary" href="{% url 'webapp:send_mesenge' friend.user.pk %}">Написать</a>
                    {% endif %}


</div>
{% endfor %}
 {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    <script type="application/javascript" src="{% static "js/delete_friend.js" %}"></script>

{% endblock %}
